<div class="col-sm-6">
  <img src="images/contact_main.jpg" alt="Traveling is good for the soul. ">
</div>
<div class="col-sm-6">
  <h1>Subscribe!</h1>
  <p>Enter your email if want to recieve our weekly newsletters:</p>
  <form class="subscription-form" action="/subscribe" method="post">
    <input type="text" name="name" placeholder="Name">
    <input type="text" name="email" placeholder="Email">
    <input type="submit" name="submit">
  </form>
    <br>
  <p>Send us a message at the following email if you have any questions:</p>
  <p>Email: support@travelingpal.com</p>
    <br>
  <p>For urgent inquiries our phone number is listed below:</p>
  <p>Phone: (111)-111-1111</p>
  <br>
  <p> If you want to return to the homepage, click <a href="/">here</a></p>
</div>
