<div class="col-lg-11" style="text-align:center;">
  <h1 style="font-weight: bold;">Welcome to Traveling Pal!</h1>
  <h2 style="font-weight: bold;">An innovative travel guide</h2>
  <img src="images/home_plane.jpg" alt="Airplane wing with sky background. ">
</div>
<div class="col-lg-11">
  <br>
  <p> This is Traveling Pal! If you are searching the internet for traveling tips and information, 
    you came to the right place. We are commmited to help you find the perfect place to travel! 
    We first came up with this idea when we noticed that there was a shortage in traveling guidance online. 
    Therefore, we worked diligently to provide a service for everyone to recieve traveling information free of charge! 
    You will find all your traveling essentials over here. We will work our hardest to help you if you have any question 
    related to traveling, whether it be for booking flights, planning a destination to visit, or selecting a hotel that fits your criteria. 
    We will strive to help you with all of those inquires. Feel free to explore and welcome aboard! </p>
  <br>
  <br>
  <p>Any questions? <a href="/contact"> Contact us</a></p>
  <p> You can <a href="/contact">subscribe to our newsletter here! </a> We promise you the best traveling tips.</p>
  <p> If you want to return to the homepage, click <a href="/">here</a></p>
</div>
