<div class="col-lg-11">
  <h1 style="text-align:center; font-weight: bold;">Explore our recommended destinations!</h1>
  <br>
</div>
<div class="col-lg-11">
  <br>
  <!-- Santorini, Greece Section-->
  <ul>
    <h1>1. Santorini, Greece</h1>
    <img src="images/ourpicks_santorini.jpg" width ="600" height= "700" alt="Santorini. " />
  <br>
    <h3>Reasons to visit</h3>
    <li> Great beaches.</li>
    <li> Vivid buildings and houses.</li>
    <li> Great place in Europe for Honeymoons.</li>
  <br>
      <h3>What makes Santorini a great place to visit?</h3>
      <p>Santorini has been our favorite for a tremendously long time. You will enjoy the vivid colors radiating from the houses 
        near the coast and the refreshing waves splashing over the rocks. This place has topped our expectations for traveling and 
        enjoying the scenic atmosphere. The weather is exceptionally ideal all throughout the year making this a great place to visit 
        any time of the year. If you are a health conscious person, the mediterranean diet is very healthy consisting of fish, olive oil, 
        fresh vegitables, and much more. We highly recommend visiting Santorini for your next vacation, you will not regret it.
      </p>
  </ul>
  <br>
  <!-- Zurich, Switzerland Section-->
  <ul>
    <h1>2. Zurich, Switzerland</h1>
    <img src="images/ourpicks_zurich.jpg" width ="600" height= "700" alt="Zurich. " />
    <br>
    <h3>Reasons to visit</h3>
    <li> Picturesque mountinous landscapes. </li>
    <li> Great place for people that like very cold winters.</li>
  <br>
      <h3>What makes Zurich a great place to visit?</h3>
      <p>The Swiss city of Zurich perfectly captures the scene of a city that is surrounded by snow covered mountains.
        You will definitely enjoy Zurich for the fun activities you can do inside the city and outside. Inside the city 
        you can enjoy the swiss architecture and observe the intricate the roads mode from cobblestones. While your in the
        city, be sure to try the Swiss chocolates they sell in the local candy shops, you will be amazed! If you decide to
        venture outside of the city snowboading, sking and hiking are all great activities to do outside of the city.
      </p>
  </ul>
  <br>
  <!-- Vancouver, British Columbia, Canada Section-->
  <ul>
    <h1>3. Vancouver, British Columbia, Canada</h1>
    <img src="images/ourpicks_vancouver.jpg" width ="600" height= "700" alt="Vancouver. " />
    <br>
    <h3>Reasons to visit</h3>
    <li> Awesome place for sking or snowboarding.</li>
    <li> Great parks to visit.</li>
    <li> Very active city life.</li>
    <br>
      <h3>What makes Vancouver a great place to visit?</h3>
      <p> Vancouver is a youthful and energetic city. There is basically everything that a tourist can do while traveling here. 
        They can go skiing and snowboading on the snowy mountains. If your on a mood to explore the parks, try visiting Stanley park
        and enjoy the outdoors while you are there. If you want to the view wonderful landscapes, you can visit Queen Elizabeth park 
        and and enjoy the spectacular variety of trees, shurbs, and colorful flowers. The city is filled with wonderful restaurants,
        malls, and entertainment. Visit Vancouver on your next traveling journey!

      </p>
  </ul>
  <br>
  <!-- Maldives Section-->
  <ul>
    <h1>4. Maldives</h1>
    <img src="images/ourpicks_maldives.jpg" width ="600" height= "700" alt="Maldives. " />
    <br>
    <h3>Reasons to visit</h3>
    <li> Great for underwater activites. </li>
    <li> Has one of the best beaches in the world. </li>
    <li> It is one of the best honeymoon spots.</li>
    <br>
      <h3>What makes Maldives a great place to visit?</h3>
      <p> The island of the Maldives is a extremely refreshing place to visit on your next vacation with
        with friends, family, or a loved one. If you enjoy the sea life and underwater activites, this place
        exceeds the criteria for anyone who enjoys underwater exploration. The orange horizon during the sunset is 
        seen clearly, almost like if you are watching it from a movie scene. During the night, the beaches glow 
        with bright blue specs, which is a natural phenomenon! The reason why it glows is mainly due to the bioluminescent
        plakton washed up on the shores. Therefore, radiating a bluish glow on the wet sand where the waves retrieve.
        Come to Maldives, you will enjoy every bit of the moments you spend here!
        
      </p>
  </ul>
  <br>
  <!-- Cappadocia, Turkey Section-->
  <ul>
    <h1>5. Cappadocia, Turkey</h1>
    <img src="images/ourpicks_cappadocia.jpg" width ="600" height= "700" alt="Cappadocia. " />
    <br>
    <h3>Reasons to visit</h3>
    <li> Fairy-tale like atmosphere.</li>
    <li> Fun activities such as hot air balloon rides.</li>
    <li> Great weather.</li>
    <br>
      <h3>What makes Cappadocia a great place to visit?</h3>
      <p> Cappadocia will encapsulate one of the most spectacular scenes that you will ever see in the course of your life. 
        This interesting spot resembles something you would see on another planet, yet it is in Turkey. During your visit to 
        Cappadocia, you have the occasion to encounter this wonderful land without any limits. There are hot air balloons filling 
        the skyline and demonstrating a spectacle that is extremely rare and like a picturesque movie. The unique rock formations 
        create a natural form of art while the sky is in the background. There are also some interesting and intricate caves and 
        ruins built into the rock formations, which add another touch to this fairy-tale like destination. If you are an adventurous
        person, you will certainly enjoy Cappadocia.
      </p>
  </ul>
  <br>
  <br>
  <p>Any questions? <a href="/contact"> Contact us</a></p>
  <p> You can <a href="/contact">subscribe to our newsletter here! </a> We promise you the best traveling tips.</p>
  <p> If you want to return to the homepage, click <a href="/">here</a></p>
</div>