<div class="col-lg-11">
  <h1 style="text-align:center; font-weight: bold;">Popular places visted last year</h1>
  <br>
</div>
<div class="col-lg-11">
  <br>
  <!-- Bangkok, Thailand Section-->
  <ul>
    <h1>1. Bangkok, Thailand</h1>
    <img src="images/popularplaces_bangkok.jpg" width ="600" height= "700" alt="Bangkok. " />
    <h3>Visitors</h3>
    <p>22.78 million people</p>
  </ul>
  <ul>
      <h3>About this place</h3>
      <p> Bangkok is the capital city of Thailand, it takes the cake for the most visited city in 
        the world due to having a large tourism record of over 22 million people last year. What makes Bangkok
        one of the most traveled place is the unique architecture of the temples and shrines, humungous shopping 
        centers and malls, and the street food that lingers with sweet, sour, and spicy flavors. The nightlife is 
        vividly active, it is a city that never sleeps!
      </p>
  </ul>
  <br>
  <!-- Paris, France Section-->
  <ul>
    <h1>2. Paris, France</h1>
    <img src="images/popularplaces_paris.jpg" width ="600" height= "700" alt="Paris. " />
    <h3>Visitors</h3>
    <p>19.10 million people</p>
  </ul>
  <ul>
      <h3>About this place</h3>
      <p> Paris is known as the second most visited city in the world, it is also the captial city of France.
        Many people traveled here due to the classical French architecture ranging from the bridges, building, and the 
        narrow roads. A huge tourist attraction is the Eiffel tower, which is one of the seven wonders of the world.
        There is the Lourve Art Museum, which houses one of the most prominent paintings in history. The cruises are also a
        popular choice for many people. There is a lot to do here making this second on the list.
      </p>
  </ul>
  <br>
  <!-- London, United Kingdom Section-->
  <ul>
    <h1>3. London, United Kingdom</h1>
    <img src="images/popularplaces_london.jpg" width ="600" height= "700" alt="London. " />
    <h3>Visitors</h3>
    <p>19.09 million people</p>
  </ul>
  <ul>
      <h3>About this place</h3>
      <p> London is the capital of England. A lot of tourists are intrigued by visiting London due to 
        the gothic style architecture and the abundance of historical buildings. The Buckingham Palace, 
        Big Ben, and the London Bridge are the main spectacles that many people enjoy behold. There is 
        a lot to do and it is a great place for people who enjoy learning about British history and viewing 
        the historical monuments. All of these aspects put London on te third spot of this list.
      </p>
  </ul>
  <br>
  <!-- Dubai, United Arab Emirates Section-->
  <ul>
    <h1>4. Dubai, United Arab Emirates</h1>
    <img src="images/popularplaces_dubai.jpg" width ="600" height= "700" alt="Dubai. " />
    <h3>Visitors</h3>
    <p>15.93 million people</p>
  </ul>
  <ul>
      <h3>About this place</h3>
      <p> Dubai is one of the most visited cities in the middle east. The architecture is advanced and visionary making
        it an ideal place for many people to visit during their vacations with friend and family. Dubai, is the home of the 
        world's tallest building, "Burj Kahlifa." Many people enjoy the variety of ativites provided here, ranging from shopping
        in the huge malls, enjoying the beaches, and the variety of high end restaurants making it an elegant experience for many.
        All of these aspects make this ranked fourth on our list.
      </p>
  </ul>
  <br>
  <!-- Singapore, The Republic of Singapore Section-->
  <ul>
    <h1>5. Singapore, The Republic of Singapore</h1>
    <img src="images/popularplaces_singapore.jpg" width ="600" height= "700" alt="Singapore. " />
    <h3>Visitors</h3>
    <p>14.67 million people</p>
  </ul>
  <ul>
      <h3>About this place</h3>
      <p> This city-state in Southeast Asia is one of the most visited cities in Asia. The center of Sinagpore 
        captures aspects of a futuristic and modern architecture design. There is a lot of diverse cultures in 
        this city, which made it a popular place for people to visit. Many foodies enjoy Singapore because it
        offers variety of food from many different cultures. Being a great destination to travel and enjoy food, 
        this takes the spot for the fifth most popular place last year.
      </p>
  </ul>
  <br>
  <br>
  <p>Any questions? <a href="/contact"> Contact us</a></p>
  <p> If you want to return to the homepage, click <a href="/">here</a></p>
  <p> You can <a href="/contact">subscribe to our newsletter here! </a> We promise you the best traveling tips.</p>
</div>