<div class="col-lg-11">
    <h1 style="text-align:center; font-weight: bold;">Helpful resources to plan your travel</h1>
    <br>
    <img src="images/resources_main.jpg" width ="300" height= "400" alt="A picture of a hotel newar a beach. " />
    <br>
    <br>
    <ol style="font-size:24px;">
      <div style="margin: 10px;" >
        <li>Best place to find affordable flights</li>
        <p><a href="https://www.momondo.com/" target="_blank"> momondo.com</a></p>
        <img src="images/resources_flight.jpg"/>
        <br>
        <br>
        <p style="font-size:16px;">If you are having trouble finding the cheapest flights, <a href="https://www.momondo.com/" target="_blank"> momondo.com</a>
          is the best resource out there that can help you find the cheapest flights and compare them on different flight booking sites.
        You will save a lot of money finding cheap flights on this site, and you will be extremely thankful. Save money for 
        the destination as much as you can. Check this out and enjoy the awesome deals!</p>

        <li>Best deals for hotels</li>
        <p><a href="https://www.kayak.com/hotels" target="_blank"> kayak.com</a></p>
        <img src="images/resources_hotels.jpg"/>
        <br>
        <br>
        <p style="font-size:16px;">Need help finding the best deal for hotels? <a href="https://www.kayak.com/hotels" target="_blank"> kayak.com</a>
           has you covered! kayak.com will search hundreds of websites and compare the prices of all the hotels at your desired destination.
          All you have to do is hover towards the search bar, select the number of people staying at the hotel, type in the address or city 
        of the hotel, and select the expected duration of your stay. Click search, and kayak will do all the work for you, and find the best 
        deals. Give <a href="https://www.kayak.com/hotels" target="_blank"> kayak.com</a> a try! </p>

        <li>Honest and unbaised reviews for hotels</li>
        <p><a href="https://www.oyster.com/" target="_blank"> oyster.com</a></p>
        <img src="images/resources_hotelreviews.jpg"/>
        <br>
        <br>
        <p style="font-size:16px;">Nowadays it is quite difficult to find unbiased reviews for just about anything, including hotels. However,
          <a href="https://www.kayak.com/hotels" target="_blank">oyster.com</a> tries its best to provide and maintain the integrity of the reviews.
          <a href="https://www.kayak.com/hotels" target="_blank">oyster.com</a> includes all the basic needs you want for a hotel review site. It offers 
            a "Travel Expertise" that connects customers with an expert and they help guide them to how they they should plan their trip. Most importantly, 
            they enfornce honest and unbiased review on their site, they show real photos of the hotels and proof of stay, so people know if someone has been 
            their and wrote a review. They are in depth on the details of the hotels so that it can help you save your time in the long run.
        </p>
      </div>
    </ol>
    <br>
<br>
<p>Any questions? <a href="/contact"> Contact us</a></p>
<p> You can <a href="/contact">subscribe to our newsletter here! </a> We promise you the best traveling tips.</p>
<p> If you want to return to the homepage, click <a href="/">here</a></p>
  </div>