 <div class="col-lg-11">
      <h1 style="text-align:center; font-weight: bold;">Check out our helpful travel tips!</h1>
      <br>
      <img src="images/tipsandtricks_main.jpg" width ="300" height= "400" alt="a blurry picture of a person holding a passport and a duffel bag on the floor. " />
      <br>
      <br>
      <ol style="font-size:18px;">
        <div style="margin: 10px;" >

          <li> A portable cellphone charging bank can be a life saver if you are lost or need to charge your phone during an emergency 
            or on the when you are on a busy schedule. If possible, try to have one with you.
          </li>
          <br>
          <li>When you travel somewhere, there is always a chance you will encounter scammers that target tourists. A person may walk up to you
            and try to solicitate money the best they can, whether it be by taking a picture, doing a trick, and etc... Do your best to avoid 
            them and ignore them when they approach you.
          </li>
            <br>
          <li>It is highly recommended that you have travel insurance because getting injured or hurt while travelling 
            could cost you thousands of dollars unexpectedly.</li>
            <br>
          <li>Bring any spare passport photos, it will allow you to apply for visas quicker, and will 
            save you time if there is a language barrier when looking for someone to take a passport sized photo.</li>
            <br>
          <li>Wear sunscreen everyday when you are out traveling during hot and sunny weather or in any weather when 
              it's needed. It will reduce the chances of your skin getting damaged by ultra violet rays and help you have 
              a worry free travel.</li>
              <br>
          <li> Try your best to learn the language of the country before you visit the country (unless you already know it). 
               It will make your expereince easier when communicating with locals.</li>
            <br>
        </div>
      </ol>
      <br>
  <br>
  <p>Any questions? <a href="/contact"> Contact us</a></p>
  <p> You can <a href="/contact">subscribe to our newsletter here! </a> We promise you the best traveling tips.</p>
  <p> If you want to return to the homepage, click <a href="/">here</a></p>
    </div>